---
layout: default
title: mye785c83
---

<h2 class="h2 mb-5">
    Latest Posts
    <div class="underline-box"></div>
</h2>
<div class="mb-4 d-flex flex-wrap">
    {% for tag in site.data.tags %}
    <span class="tag m-1 type-btn text-center" data-tag="{{tag}}">
        <!-- {{ site.data.format[tag] }} -->
        {{ tag }}
    </span>
    {% endfor %}
</div>
<!-- <div class="text-right type-btn" id="unset-all-tags">
    해제
</div> -->
<div class="pl-3">
    {% for post in site.posts %}
        {% if post.complete %}
        <div class="py-4 preview-box" 
        {% if post.tags %}
            {% for tag in post.tags %}
                data-{{ tag }}
            {% endfor %}
        {% endif %}
        >
            <div class="h5 mb-2"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></div>
            <div class="post-category text-right me-4 mb-1">{{ post.categories[0] }}</div>
            <!-- <div class="px-3">
                {{ post.excerpt | markdownify | strip_html | truncate: 50 }}            
            </div> -->
            {% if post.tags %}
            <div class="ms-2 mb-1 mt-4 d-flex flex-wrap">
                {% for tag in post.tags %}
                    {% if site.data.tags contains tag %}
                    <span class="tag type-btn m-1" data-tag="{{tag}}">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript">
    $("[data-tag]").click((e) => {
        currentTag = e.target.dataset.tag;
        if($(`.tag[data-tag=${currentTag}]`).hasClass('selected')){
            $('.hidden').removeClass('hidden');
            $(`.tag`).removeClass('selected');
        }else{
            filterByTagName(currentTag);
        }
    })

    function filterByTagName(tagName) {
        $('.hidden').removeClass('hidden');
        $('.preview-box').each((index, elem) => {
            if (!elem.hasAttribute(`data-${tagName}`)) {
            $(elem).addClass('hidden');
            }
        });
        $(`.tag`).removeClass('selected');
        $(`.tag[data-tag=${tagName}]`).addClass('selected');
    }

    $('#unset-all-tags').click((e) => {
        $('.hidden').removeClass('hidden');
        $(`.tag`).removeClass('selected');
    })
</script>