---
layout: default
title: mye785c83
---

<h2 class="h2 mb-5">
    Latest Posts
    <div class="underline-box"></div>
</h2>
<div class="pl-3">
    {% assign count=0 %}
        {% for post in site.posts %}
        {% if count<3 %}
        <div class="py-4 preview-box">
            <h5 class="h5 mb-2"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h5>
            <div class="post-category text-right me-4 mb-1">{{ post.categories[0] }}</div>
            {{ post.excerpt | markdownify | strip_html | truncate: 200 }}               
        </div>
        {% endif %}
        {% assign count=count|plus:1 %}
    {% endfor %}
</div>