<div class="bg-785c83 h-lg-100">
  <div class="masthead w-100">
    <a href="/" style="text-decoration: none;"><h1 class="h1">mye785c83</h1> </a>
    <a href="{{ site.github.url }}">
        <span style="color: rgb(233, 219, 140); font-size: 20px;">
          <i class="fab fa-github"></i>
        </span>
    </a>
  </div>
  <nav class="mt-5 pb-2">
        {% for item in site.data.navigation %}
          <div class="nav-item w-100 text-center">
            <a class="nav-link active" aria-current="page" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
          </div>
        {% endfor %}
  </nav>
</div>