---
---

html, body {
    background-color: #efefef !important;
    height: 100% !important;
}

li {
    padding: 0.25rem 0;
}

.math-table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.math-table thead tr th, .math-table tbody tr td {
    padding: 0.3rem 1rem;
}

.math-table thead {
    border-bottom: thick double #000;
}

.math-table tbody tr {
    border-bottom: 1px solid #000;
}

.h-lg-100 {
    position:fixed;
    height: 100%;
    padding: 0 2rem;
    z-index: 2;
    width: 300px;
}

/* .w-md-100{
    width: 100%;
} */

.content-box{
    margin-left: 300px;
}

@media (max-width: 991.9px) {
    .h-lg-100{
        position: relative;
        height: auto !important;
        width: 100%;
        margin-bottom: 10%;
    }

    .content-box{
        margin-left: 0;
        margin-top: auto;
        width: 100%;
    }

    .content-box .container, .content-box .container .px-5{
        padding: 0.3rem !important;
    }

}

nav {
    color: rgb(233, 219, 140);
}

@media (max-width: 991.9px){
    nav {
        display: flex;
    }
}

div {
    font-family: 'Noto Sans KR', sans-serif;
}

ul a, ul a:hover, .post-nav div a, h5 a {
    color: black !important;
    text-decoration: none;
}

.current {
    color: green;
}

.masthead{
    text-align: center;
    top: 0;
    margin: 0;
    padding: 10rem 0 5rem 0;
}

.masthead h1{
    font-family: 'Londrina Solid', cursive;
    font-size: calc(1.6rem + 2vw);
    color: rgb(233, 218, 136);
    text-shadow: 1px 1px 2px pink;
}

@media (max-width: 991.9px){
    .masthead{
        padding: 5rem 1rem 2rem 1rem;
    }
    .masthead h1{
        font-size: calc(1.5rem + 8vw);
    }
}

.bg-785c83{
    background-color: #785c83;
}

.nav-link {
    color: rgb(233, 218, 136);
}

.nav-link:hover, .nav-link:active, .nav-link:visited {
    color: rgb(233, 218, 136);
    text-decoration: underline;
}

.card{
    background-color: rgba(255, 255, 255, .6) !important;
    border-top: rgba(47, 17, 59, 0) !important;
    border-left: rgba(47, 17, 59, 0) !important;
    border-right: 2px solid rgba(47, 17, 59, 0.8) !important;
    border-bottom: 2px solid rgba(47, 17, 59, 0.8) !important;
    border-radius: .2rem !important;
}

h2 .underline-box, h3 .underline-box{
    background-color: rgba(47, 17, 59, 0.8) !important;
    height: 3px;
    width: 40%;
    margin-top: 0.7rem;
}

.text-right{
    text-align: right;
}

.post {
    min-height: 500px;
}

.post-nav {
    border: 1.5px solid rgba(47, 17, 59, 0.8) !important;
    min-height: 50px;
    border-radius: .2rem !important;
}

.post-nav .underline-box{
    background-color: rgba(47, 17, 59, 0.8) !important;
    height: 1.5px;
    width: 35%;
    margin-top: 0.7rem;
}

.post-nav li a {
    color: black !important;
    text-decoration: none;
}

.post-nav li a:hover{
    color: rgba(47, 17, 59, 0.8) !important;
    text-decoration: none;
    font-weight: bold;
}

.post-title:hover{
    text-decoration: underline;
}

.comment-box{
    background-color: rgba(47, 17, 59, 0.8);
    border-radius: 0.25rem;
    color: blanchedalmond;
    padding: 1rem 1.5rem;
    margin-bottom: 15px;
}

.career-body {
    padding: 0 20px 20px 20px;
}

.post-list ul>li, #page-tag ul>li {
    line-height: 1.5rem;
    padding: 0.6rem 0;
}

.dash {
    margin: 0 .5rem .6rem .5rem;
    /* height: 0.5rem;
    width: 0.5rem; */
    color: rgba(63, 65, 68, 1);
}

li {
    text-align: -webkit-match-parent;
}

.small, small {
    font-size: .775rem !important;
}

.post-category:before{
    content: "\f07c";
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 13px;
    font-weight: 900;
    line-height: 1;
    padding: 6px 5px 7px;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.post-category{
    font-size: 13px;
    color: rgba(63, 65, 68, 0.85);
}

.preview-box {
    /* border-top: 1px solid #6b5f77!important; */
    border-bottom: 1px solid #6b5f77!important;
}