---
layout: default
---

<div class="post">
    <h1 class="h1 py-5">{{ page.title }}</h1>
     <div class="text-right">{{ page.category }}</div>
     <div class="pb-5 text-right">{{ page.date | date_to_string }} - {{ page.author | default: 'mye785c83' }}</div>
     {% if page.tags %}
     <div class="mb-3">
         {% for tag in page.tags %}
            {% if site.data.tags contains tag %}
            <span class="tag selected">{{ tag }}</span>
            {% endif %}
         {% endfor %}
     </div>
     {% endif %}
     <div class="divider-box"></div>
     <div class="px-4">{{ content }}</div>
 </div>
 
 {% include post-nav.html %}
